html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    background: url(https://i.ibb.co/n7mpMfd/fondo.jpg);
    background-size: 100%;
}
body{
    font-size: 16px;
}
header{
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    background: url(https://i.ibb.co/XXcnYvt/programacion.png)no-repeat;
    background-size: 100% ;
    background-position: 0px 0px;
    background-attachment: fixed;
    border-radius: 4px;
}
h1{
    font-size: 3rem;
    font-family: 'Bitter', serif;
}
h2{
    font-size: 2rem;
    text-align: center;
    font-family: 'Arial';
    background: #FDFEFE;
    border-radius: 10px;
}
.container{
    background-color: white;
    padding: 0px;
    margin: 0px auto;
    width: 500px;
    background-attachment: fixed;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#hab{
    text-align: center; 
}
.hab{
    width: 700px;
    margin: auto;
}
.containerE{
    display: flex;
    justify-content: center;
    margin: 0px 150px;
}
.item{
    margin: 10px;
    width: 40%;
}
#contenedor-Form{
    background-color: rgb(192, 192, 192);
    font-family: 'Bitter', serif;
    margin: auto;
    padding: 30px;
    border-radius: 4px;
    box-sizing: border-box;
    width: 400px;
    box-shadow: 7px 13px 37px #000;
}
.Campo{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 3px;
    border: 1px solid;
    font-size: 16px;
}

.boton{
    display: flex;
    justify-content: center;
    width: 50%;
    border: none;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
}
#Item-form2{
    margin: 10px;
    display: flex;
    justify-content: center;
}